header {
    text-align: center;
}

#connect {
    display: block;
}

#username {
    display: none;
}

#color {
    display: none;
    padding-left: 5%;
    text-align: center;
}

#color .color-col {
    width: 30%;
    display: inline-block;
}

#game {
    display: none;
}

#chat {
    overflow-y: scroll;
    font-size: 1rem;
    height: 32vh;
}